.wrapper {
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
}

div .drop {
  position: absolute;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(1) {
  top: 20%;
  left: 50%;
}
.wrapper div:nth-child(2) {
  top: 30%;
  left: 60%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 10%;
  left: 70%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 25%;
  left: 80%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 35%;
  left: 90%;
  animation: animate 4s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 15%;
  left: 55%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 5%;
  left: 75%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 0%;
  left: 96%;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(calc(-150px), calc(300px));
  }
}
